// Import
@import url(./utility.scss);
@import url(./components/button.scss);
@import url(./components/form-component.scss);
@import url(./components/background.scss);
@import url(./components/tile.scss);

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace, sans-serif;
}
