// Import
@import url(./utility.scss);
@import url(./components/button.scss);
@import url(./components/form-component.scss);
@import url(./components/background.scss);
@import url(./components/tile.scss);

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace, sans-serif;
}

// Copied from UnknownRori-Firebase-Source-Code

:root {
    --scroll-opacity: 0.50;

    scrollbar-color: rgba(221, 221, 221, var(--scroll-opacity)) rgba(58, 58, 58, var(--scroll-scroll-opacity)) !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(221, 221, 221, var(--scroll-opacity));
}

::-webkit-scrollbar-thumb {
    background: rgba(46, 54, 69, var(--scroll-opacity));
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(58, 58, 58, var(--scroll-opacity));
}