.w-screen-full {
    min-width: 100vw;
}

.h-screen-full {
    min-height: 100vh;
}

.fixed {
    position: fixed;
}

.rounded {
    border-radius: 0.25rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.p-8 {
    padding: 8px;
}

.p-20 {
    padding: 30px;
}

.m-auto {
    margin: auto;
}

.m-4 {
    margin: 4px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.w-30 {
    width: 30%;
}