.primary-button {
    font-size: large;
    color: white;
    background-color: rgb(72, 72, 204);
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    transition: 250ms;
}

.primary-button:hover {
    background-color: rgb(52, 52, 224);
}