.form-control {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-control>input {
    padding: 4px;
    border-radius: .25rem;
    border: 0.5px solid gray;
}

.form-control>input:focus {
    border: 1px solid black;
}
